<html lang="en">
  <head>
    <title>Verify Your Account</title>
  </head>
  <body>
    <h3>Verify Your Account</h3>
    <p>Hi
      <b>{{name}}</b>, thanks for registering an account to the invoice
      application.</p>
    <p>Please verify your account by clicking the link
      <b><a href="{{link}}">verify your account</a></b></p>
    <p>kindly note that this link will be valid for the next 15 minutes only</p>
  </body>
</html>